{% extends "base.html" %} 



{% block content %}
<div class="generic-content">  
    {% if user.is_authenticated %}
      {% if accounts %}<p>Accounts</p>
        <ul>{% for account in accounts %}
                <li>{{ account }}</li>
        {% endfor %}</ul>
        {% else %}<p>You have no accounts setup</p>
      {% endif %}
      <p><a href="{% url 'budget:ofx_upload' %}">Upload an ofx_file</a></p>
          
    {% else %}
        <h1>You're not logged in.  <a href="{% url 'login' %}">So log in :)</a></h1>
    {% endif %}
        
</div>
{% endblock %}