{% extends "base.html" %} 

{% block extra_style %}
<style>
        body {
        padding-top: 50px;
        }
        .starter-template {
        padding: 40px 15px;
        }        
</style>
{% endblock %} 

{% block content %}
<div class="starter-template">
        
        {% if user.is_authenticated %}
        <h2>{{ user.first_name }} is killin it</h2>
        {% else %}
        <h1>Adulting can be hard.</h1>
        {% endif %}
        
        
        <ul>
                <li>Win at Money.</li>
                <li>Win at Cars.</li>
                <li>Win at Fitness.</li>
        </ul>
</div>
{% endblock %}